<header>
<h1><%= @team.name %></h1>
</header>

<div id="parent-box">
    <div class="child-box" id="box3">
        <p>バリュー</p>
        <p class="number" id="value-button">?</p>
    </div>
    <div class="child-box" id="box2">
        <p>　</p>
        <p class="number">+</p>
    </div>
    <div class="child-box" id="box1">
        <p>プロフィット</p>
        <p class="number" id="profit-button">?</p>
    </div>
    <div class="child-box" id="box4">
        <p>　</p>
        <p class="number">=</p>
    </div>
    <div class="child-box" id="box5">
        <p>合計</p>
        <p class="number" id="total-button">?</p>
    </div>
</div>

<input type="hidden" id="v" value="<%= @value %>" />
<input type="hidden" id="p" value="<%= @profit %>" />

<footer>
<p id="hint"><%= @votes.size %>件投票済</p>
<ul>
<% @teams.each do |team| %>
    <li><a href="/teams/<%= team.id %>"><%= team.name %></a></li>
<% end %>
</ul>
</footer>
