// Place all the styles related to the teams controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$keycolor: #c42756;

body {
    height: 100%;
    width: 1000px;
    margin: 0 auto;
    text-align: center;
    background-color: black;
    color: $keycolor;
    font-family: "nicomoji-plus";

    p {
        margin: 0;
        font-size: 32px;
    }   

    a {
        color: white;
        text-decoration: none;
        &:visited { color: white; }
        &:hover { color: $keycolor; }
    }

    header {
        padding-top: 80px;
        h1 {
            font-size: 60px;
        }
    }

    #parent-box {
        display: table;
        width: 100%;
        margin-top: 100px;

        .child-box {    
            -moz-box-sizing: border-box;
            box-sizing: border-box;
            display: table-cell;
            width: 25%;
        }

        .number {
            font-size: 180px;
        }
    }

    footer {
        padding-top: 100px;
        ul {
            padding: 0;
            li {
                font-size: 24px;
                list-style-type: none;
                display: inline;
            }
        }
        #hint {
            font-size: 20px;
        }
    }
}
